<footer>
	
	<span>ROSECURE este o companie care furnizeaza servicii si consultanta IT&C, cu o bogata expertiza in solutii de securitate cibernetica. Avand la baza o echipa de profesionisti, ROSECURE se adreseaza deopotriva sectorului public si privat oferind solutii adecvate: impotriva intruziunilor cibernetice, in combaterea criminalitatii informatice sau in formarea resursei umane in spiritul securitatii IT. Cu o solida cultura de securitate echipa noastra e pregatita sa raspunda prompt si discret nevoilor clietilor sai.</span>

</footer>
