<footer>
	
	ROSECURE este o companie care furnizează servicii și consultanță IT&C, cu o bogată expertiză în soluții de securitate cibernetică. Având la bază o echipă de profesioniști, ROSECURE se adresează deopotrivă sectorului public și privat oferind soluții adecvate: împotriva intruziunilor cibernetice, în combaterea criminalitatii informatice sau în formarea resursei umane în spiritul securității IT. Cu o solidă cultură de securitate echipa noastră e pregatită să raspundă prompt și discret nevoilor clieților săi.

</footer>
